<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__abaout-text">
                Phasellus non cursus metus. Phasellus feugiat, dui non interdum mattis, eros urna egestas ex, ac ultrices ante eros tincidunt risus. Vivamus gravida pretium ante, maximus efficitur massa varius sit amet. Sed rutrum consectetur fringilla. Nunc consequat sodales consequat. Phasellus venenatis, erat et suscipit condimentum, nibh lectus tempor felis, eget ullamcorper nulla sapien sed arcu. Pellentesque convallis orci ut arcu viverra dapibus. Phasellus quis ornare velit. Phasellus dui dui, condimentum at viverra vel, congue sit amet tellus. Aenean interdum consequat urna et ultrices. Aliquam finibus et quam vel aliquet. Curabitur a massa nibh. Cras a tristique dui.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-regular fa-envelope"></i> email@email.com</li>
                <li><i class="fa-regular fa-phone"></i>(31) 99999-9999</li>
                <li><i class="fa-brands fa-whatsapp"></i>(31) 99999-9999</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>
